<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="ConnectionString" value="Server=localhost;Database=DB_NilaiMahasiswa;User=root;Password=;Port=3306;" />
		<add key="AppName" value="Sistem Pengolahan Nilai Mahasiswa" />
		<add key="AppVersion" value="1.0" />
		<add key="CompanyName" value="Universitas Indonesia" />
		<add key="LogFilePath" value="C:\Logs\" />
		<add key="SessionTimeout" value="30" />
		<add key="MaxLoginAttempts" value="3" />
	</appSettings>
</configuration>